/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #121212;
  color: #ffffff;
  line-height: 1.6;
}

a {
  color: #00bcd4;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* Header */
header {
  background-color: #1f1f1f;
  padding: 60px 20px;
  text-align: center;
  border-bottom: 2px solid #00bcd4;
}



.subtitle {
  color: #aaa;
  font-size: 1.2em;
  margin-top: 10px;
}

/* Sections */
main section {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

h1{
  font-size: 1.8em;
  color: #00bcd4;
  margin-bottom: 15px;
  border-left: 4px solid #00bcd4;
  padding-left: 10px;
  
}

h2 {
  font-size: 1.8em;
  color: #00bcd4;
  margin-top: 40px;
  margin-bottom: 15px;
  border-left: 4px solid #00bcd4;
  padding-left: 10px;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  list-style: none;
  padding-left: 0;
}

.skills-list li {
  background-color: #222;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 20px;
  color: #999;
  font-size: 0.9em;
}

  nav {
    text-align: center;
    margin-bottom: 20px;
  }

  nav a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #00bcd4;
    font-weight: bold;
  }

  nav a:hover {
    color: #4dd0e1;
    text-decoration: underline;
  }
  
